<div>
    APP ID: <input type="text" id="LeaflyAppId" data-bind="value:AppId, valueUpdate: 'afterkeydown'"/>
    <br />
    APP KEY: <input type="text" id="LeaflyAppKey" data-bind="value:AppKey, valueUpdate: 'afterkeydown'"/>
    <br />
    <button data-bind="click: function(){ $data.SaveCredentials(); }, enable: HasCredentials" disabled>Save</button>
    <button data-bind="click: function(){ $data.LoadCredentials(); }">Load</button>
</div>
