
@{
    ViewBag.Title = "Strain";
}

<h2>Strain</h2>

<div data-bind="with:LeaflyCredentialsVm" style="display:none">
    @Html.Partial("~/Views/Shared/_LeaflyCredentials.cshtml")
</div>
<div>
    <h1>Strain Search</h1>
    Page: <input type="number" data-bind="value: Page"/>
    <br/>
    Take: <input type="number" data-bind="value: Take" />
    <br/>
    Search Term: <input type="text" data-bind="value: SearchTerm"/>
    <br/>
    Sort: <select data-bind="value: Sort, options: SortOptions"></select>

    <fieldset>
        <legend>Search Filters</legend>
        Exclude: <select></select>
        Flavors: <select multiple="multiple" size="3">
                     <option>ammonia</option>
                     <option>apples</option>
        <option>diesel</option>
        </select>
        Category:
        <select multiple="multiple" size="3">
            <option>indica</option>
            <option>sativa</option>
            <option>hybrid</option>
        </select>
        Conditions:
        <select multiple="multiple" size="3">
            <option>addadhd</option>
            <option>anorexia</option>
            <option>anxiety</option>
        </select>
        Tags:
        <select multiple="multiple" size="3">
            <option>anxious</option>
            <option>aroused</option>
            <option>creative</option>
        </select>
        Symptoms:
        <select multiple="multiple" size="3">
            <option>cramps</option>
            <option>depression</option>
            <option>fatigue</option>
        </select>
    </fieldset>
    <button data-bind="click:function(){ $data.Search(); }">Search</button>
</div>

@section scripts{
    @Scripts.Render("~/bundles/knockout")
    <script src="~/Scripts/leafly.js"></script>
    <script src="~/Scripts/LeaflyCredentialsViewModel.js"></script>
    <script src="~/Scripts/StrainSearchViewModel.js"></script>

    <script>
        var strainVm = new StrainSearchViewModel();

        $(function () {
            ko.applyBindings(strainVm);
            strainVm.LeaflyCredentialsVm.LoadCredentials();
        })
    </script>
}